{$DOMAIN} {
    encode gzip

    reverse_proxy client-hub-api:8800 {
        header_up X-Real-IP {http.request.remote.host}
        header_up X-Forwarded-For {http.request.remote.host}
        header_up X-Forwarded-Proto {http.request.scheme}
    }

    log {
        output file /var/log/caddy/access.log
        format json
    }
}
